<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.re.kh.mapper.ReservationMapper">

    <!-- 예약 저장 -->
    <insert id="insertReservation">
        INSERT INTO RESERVE (
        user_id,
        store_id,
        reserve_date,
        party_size,
        created_at
        ) VALUES (
        #{userId},
        #{storeId},
        #{reserveDate},
        #{partySize},
        SYSDATE
        )
    </insert>


    <!-- 모든 예약 조회 -->
    <select id="selectAllReservation" parameterType="SearchHelper" resultType="StoreVO">
        SELECT *
        FROM RESERVE
    </select>

    <!-- 특정 예약 조회 by ID -->
    <select id="findReservationById" resultType="kr.re.kh.model.vo.ReservationVO">
        SELECT * FROM RESERVE
        WHERE reserve_id = #{reserveId}
    </select>

    <!-- 특정 사용자의 모든 예약 조회 -->
    <select id="findAllReservationsByUserId" resultType="kr.re.kh.model.vo.ReservationVO">
        SELECT r.*, s.store_name AS storeName
        FROM RESERVE r
        JOIN STORE s ON r.store_id = s.store_id
        WHERE r.user_id = #{userId}
    </select>


    <!-- 특정 가게의 모든 예약 조회 -->
    <select id="findAllReservationsByStoreId" resultType="kr.re.kh.model.vo.ReservationVO">
        SELECT * FROM RESERVE
        WHERE store_id = #{storeId}
    </select>

    <!-- 예약 상태 업데이트 (가게 회원) -->
    <update id="updateReservationStatus">
        UPDATE RESERVE
        SET reserve_status = #{status},
            updated_at = SYSDATE
        WHERE reserve_id = #{reserveId}
    </update>

    <!-- 예약 확정 업데이트 -->
    <update id="confirmReservation"
            parameterType="Long">
        UPDATE RESERVE
        SET reserve_status = '1',
            updated_at = SYSDATE
        WHERE reserve_id = #{reserveId}
    </update>

    <!-- 예약 취소 업데이트 -->
    <update id="cancelReservation"
            parameterType="Long">
        UPDATE RESERVE
        SET reserve_status = '3',
            updated_at = SYSDATE
        WHERE reserve_id = #{reserveId}
    </update>

    <!-- 예약 삭제 -->
    <delete id="deleteReservation">
        DELETE FROM RESERVE
        WHERE reserve_id = #{reserveId}
    </delete>

</mapper>
