<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.re.kh.mapper.UserMapper">
    <!--test-->
    <select id="test">
        SELECT STORE_NAME
        FROM STORE
        WHERE STORE_ID = 2
    </select>

    <update id="removeUser" parameterType="Long">
        UPDATE USERS
        SET IS_ACTIVE = 0
        WHERE USER_ID=#{user_id}
    </update>



</mapper>