<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.re.kh.mapper.UserMapper">
    <!--test-->
    <select id="test">
        SELECT STORE_NAME
        FROM STORE
        WHERE STORE_ID = 2
    </select>

    <update id="removeUser" parameterType="Long">
        UPDATE USERS
        SET IS_ACTIVE = 0
        WHERE USER_ID=#{user_id}
    </update>

    <select id="isManagerByUserId"
            parameterType="Long"
            resultType="Long">
        SELECT IS_MANAGER
        FROM MANAGER M
                 JOIN USERS U
                      ON M.USER_ID = U.USER_ID
        WHERE U.USER_ID = #{userId}
    </select>

    <select id="isAdminByUserId"
            parameterType="Long"
            resultType="Long">
        SELECT ROLE_ID
        FROM USER_AUTHORITY UA
                JOIN USERS U
                    ON UA.USER_ID = U.USER_ID
        WHERE UA.USER_ID = #{userId}
    </select>
    
    
    <insert id="insertManager"
            parameterType="Long"
           >
        INSERT INTO MANAGER
        (USER_ID, IS_MANAGER)
        VALUES (
        #{userId},
        #{isManager}
        )
    </insert>

    <select id="findUserByInfo" parameterType="java.util.Map" resultType="kr.re.kh.model.User">
        SELECT USERNAME, NAME, EMAIL
        FROM USERS
        WHERE EMAIL = #{email} AND USERNAME = #{username} AND NAME = #{name}
    </select>

    <update id="updatePassword" parameterType="kr.re.kh.model.User">
        UPDATE USERS
        SET PASSWORD=#{password}
        WHERE EMAIL=#{email}
    </update>

    <!--  모든 유저 조회(어드민)  -->
    <select id="findAllUsers">
        SELECT *
        FROM USERS
        ORDER BY IS_ACTIVE DESC, USER_ID DESC
    </select>

    <!--  유저 비활성화(어드민)  -->
    <update id="deactiveUser"
            parameterType="Long">
        UPDATE USERS
        SET IS_ACTIVE = 0
        WHERE USER_ID = #{userId}
    </update>

    <!--  유저 활성여부  -->
    <select id="userIsActive"
            parameterType="Long"
            resultType="boolean">
        SELECT IS_ACTIVE
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>


</mapper>